<include href="views/portal/includes/header.html"/>

<p id="stuff">
    <script>
    //     new Chart(document.getElementById("chartjs-4"),
    //     {"type":"doughnut",
    //         "data":{"labels":["Red","Blue","Yellow"],
    //             "datasets":[{"label":"My First Dataset",
    //                 "data":[300,50,100],
    //                 "backgroundColor":["rgb(255, 99, 132)","rgb(54, 162, 235)",
    //                     "rgb(255, 205, 86)"]}]}});
    //
    // var myDoughnutChart = new Chart(ctx, {
    //     type: 'doughnut',
    //     data: data,
    //     options: options
    // });
    //
    // data = {
    //     datasets: [{
    //         data: [10, 20, 30]
    //     }],
    //
    //     // These labels appear in the legend and in the tooltips when hovering different arcs
    //     labels: [
    //         'Red',
    //         'Yellow',
    //         'Blue'
    //     ]
    // };

        let element = document.getElementById("stuff");

        let chart = new Chart(CHART, {
            type: 'pie',
            data: {
                labels: ['Active', 'Waitlisted', 'Archived'],
                datasets: [
                    {
                        label: 'Points',
                        backgroundColor: ["rgb(255, 99, 132)","rgb(54, 162, 235)", "rgb(255, 205, 86)"],
                        data: [10, 20, 55, 30, 10]
                    }
                ]
            },
            options: {
                animation: {
                    animateScale: true
                }
            }
        });
    </script>

</p>





<!-- Pie Chart -->
<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Applications</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Active
                    </span>
                <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Waitlisted
                    </span>
                <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Archived
                    </span>
            </div>
        </div>
    </div>
</div>

<include href="views/portal/includes/footer.html"/>