/* General styles for all forms */

body {
    font-family: 'Roboto', sans-serif;
}

/* nami color */
.navbar {
    background-color: #0c499c;
}

.btn-primary {
    background-color: #0c499c;
}

/* uppercase, some padding, smaller font */
.btn {
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 20px;
}

#namiLogo {
    width: 75%;
    height: 75%;
}

.questions {
    color: black;
}

.questions:hover {
    color: #0c499c !important;
    text-decoration: none;
}

.questions:active {
    color: #0c499c !important;
}

.text-primary {
    color: #0c499c !important;
}

.navbar-brand:hover {
    filter: brightness(85%);
}