<include href="views/portal/includes/header.html"/>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-5 text-primary"><i class="fas fa-building"></i> Affiliates </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 text-gray-800">Showing All <strong>{{ @NumAffiliates['NumAffiliates'] }}</strong> Affiliates
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="affiliatesDataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Affiliate</th>
                        <th>Email</th>
                        <!--<th>Edit</th>-->
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="bg-light">
                        <th>Affiliate</th>
                        <th>Email</th>
                        <!--<th>Edit</th>-->
                    </tr>
                    </tfoot>
                    <tbody>
                    <!-- all active applicants -->
                    <repeat group="{{ @Affiliates }}" value="{{ @Affiliate }}">
                        <tr>
                            <!-- name, phone, email -->
                            <td>{{ @Affiliate['name'] }}</td>

                            <!--<td>{{ @Affiliate['phone'] }}</td>-->
                            <!-- mailto affiliate email -->
                            <!--<td>
                                <a  class="text-decoration-none text-body"
                                    href="mailto: {{ @Affiliate['email'] }}">
                                    {{ @Affiliate['email'] }}
                                </a>
                            </td>-->

                            <td>{{ @Affiliate['email'] }}</td>

                            <!-- edit -> modal -- use ID here -->
                            <!--<td class="text-center">
                                <a href="#" class="text-decoration-none text-primary" data-toggle="modal" data-target="#affmodal{{ @Affiliate['affiliate_id'] }}">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </td>-->
                        </tr>

                        <!-- edit modal -->
                        <div class="modal fade" id="affmodal{{ @Affiliate['affiliate_id'] }}" tabindex="-1" role="dialog"
                             aria-labelledby="affmodal{{ @Affiliate['affiliate_id'] }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title text-primary" id="modalLabel">
                                            <i class="fas fa-edit"></i> Edit
                                            <span class="font-weight-bold">{{ @Affiliate['name'] }}</span>
                                        </h4>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <!-- add edit form here -->
                                    <div class="modal-body">
                                        Here you'll be able to edit the status and category of the application
                                        <form>

                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </repeat>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<include href="views/portal/includes/footer.html"/>
