<include href="views/includes/header.html"/>
<!--<div class="container text-center w-25">
    <div class="card">
        <img src="images/dog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Your Application Has Been Submitted!</h5>
            <p class="card-text">Thank you "name" for filling out the application. Your local affiliate will be in touch with you shortly.</p>
            <a href="#" class="btn btn-primary">Back To NAMI</a>
        </div>
    </div>
</div>-->

<div class="container py-5">
    <div class="card mx-auto bg-white shadow-sm" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="images/dog.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8 my-auto text-center">
                <div class="card-body">
                    <h5 class="card-title">Your Application Has Been Submitted!</h5>
                    <p class="card-text">Thank you "name" for filling out the application. Your local affiliate will be in touch with you shortly.</p>
                    <a href="http://namiwa.org/" class="btn btn-primary align-text-bottom">Back To NAMI</a>
                </div>
            </div>
        </div>
    </div>
</div>

<include href="views/includes/footer.html"/>