<!--
Jason Engelbrecht
Date
URL
Description
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Personal Information</title>
</head>
<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        NAMI | Washington
    </a>
</nav>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>

<div class="container p-3 ">

    <div class="card">
        <h5 class="card-header">Personal Information</h5>
        <div class="card-body m-3">
            <div>
                <form method="post" action="personal_information">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="first">First name</label>
                            <input name="first" type="text" class="form-control" id="first" placeholder="John">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="last">Last name</label>
                            <input name="last" type="text" class="form-control" id="last" placeholder="Doe">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="pronouns">Pronouns</label>
                            <input name="pronouns" type="text" class="form-control" id="pronouns" placeholder="She/He">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input name="inputAddress" type="text" class="form-control" id="inputAddress"
                               placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input name="inputaddress2" type="text" class="form-control" id="inputAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input name="inputCity" type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select name="inputState" id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input name="inputZip" type="text" class="form-control" id="inputZip">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="primary">Primary phone number</label>
                            <input name="primary" type="tel" class="form-control" id="primary" placeholder="206 123 1234">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="primary_time">Best time to call</label>
                            <input name="primary_time" type="text" class="form-control" id="primary_time" placeholder="9AM">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="alternate">Alternate phone number</label>
                            <input name="alternate" type="tel" class="form-control" id="alternate" placeholder="206 123 1234">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="alternate_time">Best time to call</label>
                            <input name="alternate_time" type="text" class="form-control" id="alternate_time" placeholder="9AM">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="email@mail.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Best way to contact you?</label><br>
                            <input type="radio" name="preference" value="phone"> Phone
                            <input type="radio" name="preference" value="email"> Email
                        </div>
                    </div>
                    Emergency contact: <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emergency_name">Name</label>
                            <input name="emergency_name" type="text" class="form-control" id="emergency_name"
                                   placeholder="Jane Doe">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emergency_phone">Phone</label><br>
                            <input name="emergency_phone" type="tel" class="form-control" id="emergency_phone"
                                   placeholder="206 123 1234">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary float-right">Next
                        <i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>