<include href="views/includes/header.html"/>

<div class="container ">
    <div class="jumbotron shadow-sm bg-white p-5">
        <h2 class="text-center">Family Support Group Facilitator 2020 Training Application</h2>

        <div class="row my-5 text-center">
            <div class="col-md-6">
                <p class="lead">
                    <strong>Training Location:  Kirkland, WA</strong><br>
                    <strong>Application Deadline:</strong><br>
                    Friday, December 21, 2019
                </p>
            </div>
            <div class="col-md-6">
                <p class="lead">
                    <strong>2-day Training Schedule:</strong><br>
                    Saturday, January 12, 2019 	8:30 am – 6:00 pm<br>
                    Sunday, January 13, 2019	8:30 am – 6:00 pm
                </p>
            </div>
        </div>

        <hr class="my-4 mb-5">

        <div id="description" class="m-md-5">
            <div class="my-5">
                <p class="lead"><strong>NAMI Family Support Groups (FSG)</strong> are local meetings of caregivers of
                individuals with a mental illness where family members can talk frankly about their challenges and
                    help one another through their learned wisdom.</p>
            </div>

            <div class="my-5">
                <p class="lead"><strong>Who can be a Support Group Facilitator? </strong> Prospective facilitators must
                have a family member or loved one living with mental illness, and be at least 18 years of age.</p>
            </div>

            <div class="my-5">
                <p class="lead"><strong>What will I learn from the training?</strong> Participants learn to facilitate ongoing NAMI Family Support Groups for family
                members/loved ones of someone living with a mental illness.  The FSG model offers a set of key
                structures and group processes for facilitators to use in common support group scenarios.
                These structures come with clear guidelines to follow.  Used together, they encourage full group
                participation in support group meetings.  These structures are comfortable for both seasoned and
                    less experienced facilitators because they help support group function well in most every situation. </p>
            </div>

            <div class="my-5">
                <p class="lead"><strong>What is required of me after I take the training?</strong> By taking this facilitator
                training you are committing to co-facilitate a support group for a minimum of two (2) years in
                coordination with your local NAMI affiliate.  You will be required to provide your affiliate with
                    specific attendance data for reporting to National NAMI Education Data tracking. </p>
            </div>

            <div class="my-5">
                <p class="lead"><strong>Registration Information</strong> NAMI Washington will pay for meals, snacks, lodging and
                all training materials.  Your NAMI affiliate is asked to cover your travel and other expenses that
                you may incur to attend this training.  Lodging is at the Comfort Inn, and is double occupancy.
                If you require single occupancy, arrangements will need to be made prior to attendance by the
                attendee and there will be additional costs which will be the responsibility of the attendee.
                In order to reserve a space at the training, a $50 refundable registration deposit from your
                affiliate is required at the time of registration.  If you need to cancel after being accepted,
                notify Michelle Strait at the state office 206-971-1599 or mstrait@namiwa.org no later than
                January 7, 2019 so we can fill your spot, or your affiliate will lose its $50 registration deposit.
                Cancelled spots are filled with applications from the waiting list for the class, not by sending another affiliate member.</p>
            </div>
        </div>



        <div class="text-center my-4">
            <h3>Ready to start the application?</h3>
            <a class="btn btn-primary btn-lg text-uppercase px-5" href="/unami/personal_information" role="button">Start</a>
        </div>
    </div>
</div>

<include href="views/includes/footer.html"/>
