<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Long Answer Questions</title>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js"
            nonce="D98F219DB665364F85B1A5B1A7AE8032" charset="UTF-8"></script>
</head>

<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        NAMI | Washington
    </a>
</nav>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 50%"
             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
</div>

<div class="container p-3 ">

    <div class="card">
        <h5 class="card-header">Long Answer Questions</h5>
        <div class="card-body m-3">
            <div>
                <form method="post">
                    <div class="form-row">
                        <div class="form-group">
                            <p>1. Do you have a relative living with mental illness?</p>
                            <div class="form-check form-check-inline">
                                <input name="relativeMentalIllness" class="form-check-input" type="radio"
                                       id="inlineCheckbox11" value="yes">
                                <label class="form-check-label" for="inlineCheckbox11">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="relativeMentalIllness" class="form-check-input" type="radio"
                                       id="inlineCheckbox12" value="no">
                                <label class="form-check-label" for="inlineCheckbox12">No</label>
                            </div><br>

                            <label for="exampleFormControlTextarea1">2. How did you hear about this training class?</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <p>3. Have you ever been convicted of a crime against another person including but not limited to: assault of any
                                kind, harassment of any kind, or stalking?</p>
                            <div class="form-check form-check-inline">
                                <input name="convict" class="form-check-input" type="radio" id="inlineCheckbox1" value="yes">
                                <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="convict" class="form-check-input" type="radio" id="inlineCheckbox2" value="no">
                                <label class="form-check-label" for="inlineCheckbox2">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">4. Why do you want to be a NAMI Family Support Group Facilitator?</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>

                            <label for="exampleFormControlTextarea3">5. What experience do you have in participating in a support group?</label>
                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>

                            <p>6. Have you taken other NAMI classes or trainings?</p>
                            <div class="form-check form-check-inline">
                                <input name="trained" class="form-check-input" type="radio" id="inlineCheckbox3" value="yes">
                                <label class="form-check-label" for="inlineCheckbox3">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="trained" class="form-check-input" type="radio" id="inlineCheckbox4" value="no">
                                <label class="form-check-label" for="inlineCheckbox4">No</label>
                            </div><br>
                            <label for="exampleFormControlTextarea4">If yes, please list: </label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>

                            <p>7. Are you currently certified to teach/lead any other NAMI signature programs?</p>
                            <div class="form-check form-check-inline">
                                <input name="certified" class="form-check-input" type="radio" id="inlineCheckbox5" value="yes">
                                <label class="form-check-label" for="inlineCheckbox5">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="certified" class="form-check-input" type="radio" id="inlineCheckbox6" value="no">
                                <label class="form-check-label" for="inlineCheckbox6">No</label>
                            </div>
                            <label for="exampleFormControlTextarea5">If yes, please list all Signature Programs you are certified to lead: </label>
                            <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>

                            <p>8. Do you know with whom you want to Co-facilitate?</p>
                            <div class="form-check form-check-inline">
                                <input name="coFacWhom" class="form-check-input" type="radio" id="inlineCheckbox7" value="yes">
                                <label class="form-check-label" for="inlineCheckbox7">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="coFacWhom" class="form-check-input" type="radio" id="inlineCheckbox8" value="no">
                                <label class="form-check-label" for="inlineCheckbox8">No</label>
                            </div><br>
                            <label for="facilitator">If yes, who? </label>
                            <input class="form-control" type="text" placeholder="Default input" id="facilitator">

                            <p>9. Do you know where you want to Co-facilitate?</p>
                            <div class="form-check form-check-inline">
                                <input name="coFacWhere" class="form-check-input" type="radio" id="inlineCheckbox9" value="yes">
                                <label class="form-check-label" for="inlineCheckbox9">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="coFacWhere" class="form-check-input" type="radio" id="inlineCheckbox10" value="no">
                                <label class="form-check-label" for="inlineCheckbox10">No</label>
                            </div><br>
                            <label for="location">If yes, where? </label>
                            <input class="form-control" type="text" placeholder="Default input" id="location">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>
                </form>

                <form method="post" action="additional_information">
                    <button type="submit" class="btn btn-primary float-left"><i class="fas fa-arrow-left"></i> Back</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>