<!--
Jason Engelbrecht
Date
URL
Description
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Review Your Information</title>
</head>
<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        NAMI | Washington
    </a>
</nav>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Review Your Information</div>
    </div>
</div>

<div class="container p-3">
    <div class="card col-md-12 mb-3">
        <h5 class="card-header">Personal Information</h5>
        <div class="card-body">
            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>First Name: </u></strong></h6>
                    <p class="pl-2">John</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Last Name: </u></strong></h6>
                    <p class="pl-2">Doe</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6><strong><u>Pronouns: </u></strong></h6>
                    <p class="pl-2">Him/He</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Address 1: </u></strong></h6>
                    <p class="pl-2">12345 Park Place Ave SE</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Address 2: </u></strong></h6>
                    <p class="pl-2">Blank</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>City: </u></strong></h6>
                    <p class="pl-2">Auburn</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>State: </u></strong></h6>
                    <p class="pl-2">WA</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6><strong><u>Zip: </u></strong></h6>
                    <p class="pl-2">98820</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Primary Phone Number: </u></strong></h6>
                    <p class="pl-2">425 432 8431</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Best time to call: </u></strong></h6>
                    <p class="pl-2">9am</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Alternate Phone Number: </u></strong></h6>
                    <p class="pl-2">425 432 8431</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Best time to call: </u></strong></h6>
                    <p class="pl-2">9am</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Email: </u></strong></h6>
                    <p class="pl-2">testuser@gmail.com</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Email or Phone: </u></strong></h6>
                    <p class="pl-2">Phone</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Emergency Contact Name: </u></strong></h6>
                    <p class="pl-2">Bob Mergency</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6><strong><u>Emergency Contact Phone Number: </u></strong></h6>
                    <p class="pl-2">123 435 3421</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-12 mb-3">
        <h5 class="card-header">More Information</h5>
        <div class="card-body m-3">

        </div>
    </div>



    <div class="card col-md-12 py-2">
        <div class="card-body">
            <form>
                <button type="submit" class="btn btn-primary float-right">Next<i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>


</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>