<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <h1>Application for: {{ @applicant['fname'].' '.@applicant['lname'] }}</h1>
</div>

<div class="container p-3">
    <form method="post">
        <div class="card mb-3 shadow-sm bg-white rounded">
            <div class="card-header">
                <h4 class="float-left">Personal Information</h4>
            </div>
            <div class="card-body m-3">
                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">First Name: </h6>
                        <p class="pl-2">{{ @applicant['fname'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Last Name: </h6>
                        <p class="pl-2">{{ @applicant['lname'] }}</p>
                    </div>
                    <div class="col-md-2 pl-0">
                        <h6 class="lead">Pronouns: </h6>
                        <p class="pl-2">{{ @applicant['pronouns'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Address 1: </h6>
                        <p class="pl-2">{{ @applicant['address'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Address 2: </h6>
                        <p class="pl-2">{{ @applicant['address2'] }}</p>
                    </div>
                    <div class="col-md-2 pl-0">
                        <h6 class="lead">Date of Birth: </h6>
                        <p class="pl-2">{{ @applicant['birthdate'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">City: </h6>
                        <p class="pl-2">{{ @applicant['city'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">State: </h6>
                        <p class="pl-2">{{ @applicant['state'] }}</p>
                    </div>
                    <div class="col-md-2 pl-0">
                        <h6 class="lead">Zip: </h6>
                        <p class="pl-2">{{ @applicant['zip'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Primary Phone Number: </h6>
                        <p class="pl-2">{{ @applicant['primary_phone'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Best time to call: </h6>
                        <p class="pl-2">{{ @applicant['primary_time'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Alternate Phone Number: </h6>
                        <p class="pl-2">{{ @applicant['alternate_phone'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Best time to call: </h6>
                        <p class="pl-2">{{ @applicant['alternate_time'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Email: </h6>
                        <p class="pl-2">{{ @applicant['email'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Email or Phone: </h6>
                        <p class="pl-2">{{ @applicant['preference'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Affiliate: </h6>
                        <p class="pl-2">{{ @affiliate }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">NAMI member: </h6>
                        <check if="{{ @applicant['NAMI_member'] == 1 }}">
                            <p class="pl-2">Already a NAMI member</p>
                        </check>
                        <check if="{{ @applicant['NAMI_member'] != 1 }}">
                            <p class="pl-2">Needs to become a NAMI member</p>
                        </check>
                    </div>
                </div>

                <hr>

                <div class="row mt-3 mx-3">
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Emergency Contact Name: </h6>
                        <p class="pl-2">{{ @applicant['emergency_name'] }}</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <h6 class="lead">Emergency Contact Phone Number: </h6>
                        <p class="pl-2">{{ @applicant['emergency_phone'] }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 shadow-sm bg-white rounded">
            <div class="card-header">
                <h4 class="float-left">Accommodations</h4>
            </div>
            <div class="card-body m-3">
                <div class="row m-3">
                    <div class="col-md-4 pl-0">
                        <h6 class="lead">Special Needs: </h6>
                        <check if="{{ @applicant['special_needs'] == 1 }}">
                            <p class="pl-2">Has special needs</p>
                        </check>
                        <check if="{{ @applicant['special_needs'] != 1 }}">
                            <p class="pl-2">No special needs</p>
                        </check>
                    </div>

                    <div class="col-md-4 pl-0">
                        <h6 class="lead">Bringing a Service Animal: </h6>
                        <check if="{{ @applicant['service_animal'] == 1 }}">
                            <p class="pl-2">Has service animal</p>
                        </check>
                        <check if="{{ @applicant['service_animal'] != 1 }}">
                            <p class="pl-2">No service animal</p>
                        </check>
                    </div>

                    <div class="col-md-4 pl-0">
                        <h6 class="lead">Walker or Wheelchair used: </h6>
                        <check if="{{ @applicant['mobility_need'] == 1 }}">
                            <p class="pl-2">Has a mobility disability</p>
                        </check>
                        <check if="{{ @applicant['mobility_need'] != 1 }}">
                            <p class="pl-2">No mobility disability</p>
                        </check>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-6 pl-0">
                        <h6 class="lead">Live within 1 hour of training: </h6>
                        <check if="{{ @applicant['need_rooming'] == 1 }}">
                            <p class="pl-2">Room is needed</p>
                        </check>
                        <check if="{{ @applicant['need_rooming'] != 1 }}">
                            <p class="pl-2">Room is not needed</p>
                        </check>
                    </div>
                    <check if="{{ @applicant['need_rooming'] == 1}}">
                        <div class="col-md-6 pl-0">
                            <h6 class="lead">Did they want to pay extra for a single room: </h6>
                            <check if="{{ @applicant['single_room'] == 1 }}">
                                <p class="pl-2">Single room wanted</p>
                            </check>
                            <check if="{{ @applicant['single_room'] != 1 }}">
                                <p class="pl-2">Single room not wanted</p>
                            </check>
                        </div>
                    </check>
                </div>

                <check if="{{ @applicant['single_room'] != 1 && @applicant['need_rooming'] == 1 }}">
                    <hr>

                    <div class="row m-3">
                        <h6 class="lead">Rooming Information: </h6>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-4 pl-0">
                            <h6 class="lead">Their Gender: </h6>
                            <p class="pl-2">{{ @applicant['gender'] }}</p>
                        </div>
                        <div class="col-md-4 pl-0">
                            <h6 class="lead">Want to Room With: </h6>
                            <p class="pl-2">{{ @applicant['roommate_gender'] }}</p>
                        </div>
                        <div class="col-md-2 pl-0">
                            <h6 class="lead">Use a CPAP: </h6>
                            <check if="{{ @applicant['cpap_user'] == 1 }}">
                                <p class="pl-2">Applicant uses a CPAP</p>
                            </check>
                            <check if="{{ @applicant['cpap_user'] != 1 }}">
                                <p class="pl-2">Applicant doesn't use a CPAP</p>
                            </check>
                        </div>
                        <div class="col-md-2 pl-0">
                            <h6 class="lead">Room with a CPAP User: </h6>
                            <check if="{{ @applicant['roommate_cpap'] == 1 }}">
                                <p class="pl-2">Fine with a CPAP using roommate</p>
                            </check>
                            <check if="{{ @applicant['roommate_cpap'] != 1 }}">
                                <p class="pl-2">Doesn't want a CPAP using roommate</p>
                            </check>
                        </div>
                    </div>

                    <div class="row mt-3 mx-3">
                        <div class="col-md-12 pl-0">
                            <h6 class="lead">Need Housing for these nights: </h6>
                            <p class="pl-2">{{ @applicant['days_rooming'] }}</p>
                        </div>
                    </div>
                </check>
            </div>
        </div>

        <div class="card mb-3 shadow-sm bg-white rounded">
            <div class="card-header">
                <h4 class="float-left">Additional Questions</h4>
            </div>
            <div class="card-body m-3">
                <div class="row m-3">
                    <div class="col-md-12 pl-0">
                        <h6 class="lead">How did they hear about this training class: </h6>
                        <p class="pl-2">What they wrote: {{ @applicant['heard_about_training'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-9 pl-0">
                        <h6 class="lead">Other Classes Applicant Took: </h6>
                        <p class="pl-2">{{ @applicant['other_classes'] }}</p>
                    </div>
                </div>

                <hr>

                <div class="row m-3">
                    <div class="col-md-9 pl-0">
                        <h6 class="lead">Which Classes can they Teach: </h6>
                        <p class="pl-2">{{ @applicant['certified'] }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 shadow-sm bg-white rounded">
            <div class="card-header">
                <h4 class="float-left">Notes</h4>
            </div>
            <div class="card-body m-3">
                <div class="row m-3">
                    <div class="col-md-12 pl-0">
                        <h6 class="lead">Please write any notes you have on this application here: </h6>
                        <label>Notes:
                            <textarea name="affiliateNotes" class="form-control" rows="4" cols="100"></textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card py-2 shadow-sm bg-white rounded">
            <div class="card-body">

                <button type="submit" class="btn btn-danger float-left" name="newStatus" value="0">Deny</button>

                <button type="submit" class="btn btn-success float-right" name="newStatus" value="2">Approve</button>

            </div>
        </div>
    </form>


</div>

<include href="views/forms/includes/footer.html"/>
