<include href="views/forms/includes/header.html"/>

<div class="container pb-5 pt-3">

    <div class="card mx-auto bg-white shadow-sm" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="images/dog.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6 my-auto text-center">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Application already reviewed</h5>
                    <p class="card-text">I'm sorry but the application you are looking for has already been
                    processed by another affiliate level volunteer. If you need to access this application
                    please contact a state level volunteer. Thank you!</p>
                    <a href="http://namiwa.org/" class="btn btn-primary align-text-bottom">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>

<include href="views/forms/includes/footer.html"/>
