<include href="views/forms/includes/header.html"/>

<div class="container pb-5 pt-3">

    <div class="card mx-auto bg-white shadow-sm" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="images/dog.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6 my-auto text-center">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Thank you for reviewing this application!</h5>
                    <p class="card-text">Thank you for taking the time to review this application. The NAMI WA
                        state volunteers will be handling the rest of the process.</p>
                    <a href="http://namiwa.org/" class="btn btn-primary align-text-bottom">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>

<include href="views/forms/includes/footer.html"/>
