<footer style="background-color: #0c499c" class="mt-5">
    <div class="container-fluid text-center p-3 pt-5">
        <div class="text-white">
            <p>1107 NE 45th Street, Suite 340 | Seattle, WA 98105</p>
            <p>(206) 783-4288 | office@namiwa.org</p>
            <p class="mt-2">© 2019 NAMI Washington</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="views/forms/js/tooltip.js"></script>

<script>
    //hover animation - cards
    $(document).ready(function() {
        $( ".homeCards" ).hover(
            function() {
                $(this).addClass('shadow');
            }, function() {
                $(this).removeClass('shadow');
            }
        );
    });
</script>
</body>
</html>