<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="views/forms/css/generalFormStyles.css">

    <title>{{ @page_title }}</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-dark">
    <a class="navbar-brand py-3 pl-2" href="/unami">
        <img id="namiLogo" src="images/namiLogo.png" alt="The logo for NAMI Washington">
    </a>
</nav>

<!-- Jumbotron Header -->
<header class="jumbotron rounded-0" style="background-color: #CEDAEB">
    <h1 class="display-4 text-primary text-center homeHeading">
        <span class="font-weight-bold">NAMI WA</span> State Trainings
    </h1>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row mb-3 ml-3">
        <div class="col-md-6">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-2">
                    <h5 class="text-center"><i class="fas fa-graduation-cap fa-2x text-primary"></i></h5>
                </div>
                <div class="col-lg-8">
                    <h5 class="pb-2 blurb">
                        Trainings in NAMI Signature programs which allow local
                        affiliates to bring programs to their communities.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-2">
                    <h5 class="text-center"><i class="fas fa-door-open fa-2x text-primary"></i></h5>
                </div>
                <div class="col-lg-8">
                    <h5 class="pb-2 blurb">
                        All NAMI members or those becoming a member may apply
                        to attend State Training programs.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <h5 class="pb-4 text-center blurb">
        <i class="fas fa-star-of-life fa-sm"></i> All trainings are offered
        at no cost to participants.
    </h5>

    <h2 class="text-center mb-5 pt-3">Trainings Offered</h2>

    <!-- Page Features -->
    <div class="row justify-content-center">

        <!-- show all training cards -->
        <repeat group="{{ @app_types }}" value="{{ @training }}" counter="{{ @ctr }}">
            <div class="col-lg-4 mb-4 d-flex">
                <div class="card shadow-sm flex-fill homeCards">

                    <!-- if it has trainings - start anchor tag -->
                    <check if="{{ @db->countTrainingAppTypeInfo(@training['app_id'])['Trainings'] > 0 }}">
                        <true>
                            <a href="#" class="text-decoration-none text-body"
                               data-toggle="modal" data-target="#{{ @training['ref_name'] }}Modal">
                        </true>
                    </check>

                    <!-- card body -->
                    <div class="card-body">
                        <h5 class="card-title mb-4 mt-2 text-center">
                            <img src="images/training_logos/{{ @training['ref_name'] }}.jpg"
                                 alt="{{ @training['app_type'] }}"
                                 class="img-fluid text-center"
                                 style="height: 50px; width: 300px;">
                        </h5>
                        <p class="card-text pb-3">
                            {{ @training_descriptions[@training['app_id']] }}
                        </p>
                        <div class="mb-2 pt-2">
                            <!-- only show first 3 trainings -->
                            <check if="{{ @ctr <= 3 }}">
                                <true>
                                    <!-- if it has trainings -->
                                    <check if="{{ @db->countTrainingAppTypeInfo(@training['app_id'])['Trainings'] > 0 }}">
                                        <!-- has trainings -->
                                        <true>
                                            <h5 class="text-center text-primary apply activeApply">
                                                <i class="fas fa-info-circle"></i> Apply
                                            </h5>
                                        </true>
                                        <!-- no trainings -->
                                        <false>
                                            <h5 class="text-center text-primary apply">
                                                Coming Soon!
                                            </h5>
                                        </false>
                                    </check>
                                    <!-- if it has trainings -->
                                </true>
                                <false>
                                    <!-- over 3 -->
                                    <h5 class="text-center text-primary apply">Coming soon!</h5>
                                </false>
                            </check>
                            <!-- only show first 3 trainings -->
                        </div>
                    </div>
                    <!-- card body -->

                    <!-- if it has trainings -->
                    <check if="{{ @db->countTrainingAppTypeInfo(@training['app_id'])['Trainings'] > 0 }}">
                        <!-- close anchor -->
                        </a>
                        <!-- apply modal -->
                        <div class="modal fade" id="{{ @training['ref_name'] }}Modal" tabindex="-1" role="dialog"
                             aria-labelledby="{{ @training['ref_name'] }}Modal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="post">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #0c499c;">
                                            <h4 class="modal-title text-white" id="{{ @training['ref_name'] }}ModalLabel">
                                                <i class="fas fa-info-circle"></i>
                                                {{ @training['app_type'] }}
                                            </h4>
                                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body mx-2">
                                            <h4 class="mb-4 mt-3">Please select an available training</h4>
                                            <hr>
                                            <repeat group="{{ @app_types_info }}" value="{{ @info }}" counter="{{ @ctr2 }}">
                                                <check if="{{ @info['app_type'] == @training['app_id'] }}">
                                                    <div class="form-check mb-4 ml-2">
                                                        <input class="form-check-input mt-4" type="radio"
                                                               name="{{ @training['ref_name'] }}Info"
                                                               id="{{ @info['info_id'] }}Info"
                                                               value="{{ @info['info_id'] }}" checked>
                                                        <h6>
                                                            <label class="form-check-label" for="{{ @info['info_id'] }}Info">
                                                                <span class="font-weight-bold">Day 1: </span>{{ @info['date'] }}
                                                                <br><span class="font-weight-bold">Day 2: </span>{{ @info['date2'] }}
                                                                <br><span class="font-weight-bold">Location: </span>{{ @info['location'] }}
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </check>
                                            </repeat>
                                            <hr>
                                            <input type="hidden" name="trainingType" value="{{ @training['app_id'] }}">
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" name="{{ @training['ref_name'] }}Submit">Apply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- apply modal -->
                    </check>
                    <!-- if it has trainings -->
                </div>
                <!-- card -->
            </div>
            <!-- col -->
        </repeat>
        <!-- show all training cards -->
    </div>
    <!-- row -->

    <h5 class="py-4 text-center text-primary">
        For more information, contact Deanna Roy at droy@namiwa.org or 206-783-4288.
    </h5>
</div>
<!-- /.container -->

<include href="views/forms/includes/footer.html"/>
