<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="views/forms/css/generalFormStyles.css">

    <title>{{ @page_title }}</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-dark">
    <a class="navbar-brand py-3 pl-2" href="/unami">
        <img id="namiLogo" src="images/namiLogo.png" alt="The logo for NAMI Washington">
    </a>
</nav>

<!-- Jumbotron Header -->
<header class="jumbotron rounded-0" style="background-color: #CEDAEB">
    <h1 class="display-4 text-primary text-center">
        <span class="font-weight-bold">NAMI WA</span> State Trainings
    </h1>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row mb-3 ml-2">
        <div class="col-md-6">
            <div class="row no-gutters align-items-center">
                <div class="col-md-2">
                    <h5 class="text-sm-center"><i class="fas fa-graduation-cap fa-2x text-primary"></i></h5>
                </div>
                <div class="col-md-8">
                    <h5 class="pb-2">
                        Trainings in NAMI Signature programs which allow local
                        affiliates to bring programs to their communities.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters align-items-center">
                <div class="col-md-2">
                    <h5 class="text-sm-center"><i class="fas fa-door-open fa-2x text-primary"></i></h5>
                </div>
                <div class="col-md-8">
                    <h5 class="pb-2">
                        All NAMI members or those becoming a member may apply
                        to attend State Training programs.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <h5 class="pb-4 text-center font-weight-bold">
        <i class="fas fa-star-of-life fa-sm"></i> All trainings are offered
        at no cost to participants.
    </h5>

    <h2 class="text-center mb-5 pt-3">Trainings Offered</h2>

    <!-- Page Features -->
    <div class="row justify-content-center">

        <!-- show all training cards -->
        <repeat group="{{ @app_types }}" value="{{ @training }}" counter="{{ @ctr }}">
            <div class="col-md-4 mb-4 d-flex">
                <div class="card shadow-sm flex-fill">
                    <div class="card-body">
                        <h5 class="card-title mb-4 mt-2"><img src="images/training_logos/{{ @training['ref_name'] }}.jpg" alt="" class="img-fluid text-center"> </h5>
                        <p class="card-text">
                            {{ @training_descriptions[@training['app_id']] }}
                        </p>
                        <form action="" method="post">

                            <div class="mb-2 pt-2">
                                <!-- not all done -->
                                <check if="{{ @ctr <= 3 }}">
                                    <true>
                                        <h6 class="text-center">
                                            <a class="questions" data-toggle="collapse" href="#{{ @training['ref_name'] }}Collapse" role="button" aria-expanded="false">
                                                Show More <i class="fas fa-caret-down"></i>
                                            </a>
                                        </h6>
                                        <div class="collapse pt-3" id="{{ @training['ref_name'] }}Collapse">
                                            <label class="font-weight-bold" for="{{ @training['ref_name'] }}Info">Choose a Date and Location</label>
                                            <select class="form-control" id="{{ @training['ref_name'] }}Info" name="{{ @training['ref_name'] }}Info">
                                                <option value="none">-- Select --</option>

                                                <!-- get all training dates and their location -->
                                                <repeat group="{{ @app_types_info }}" value="{{ @info }}">
                                                    <check if="{{ @info['app_type'] == @training['app_id'] }}">
                                                        <option value="{{ @info['info_id'] }}">{{ @info['date'] }} in {{ @info['location'] }}</option>
                                                    </check>
                                                </repeat>
                                                <!-- get all training dates and their location -->

                                            </select>
                                            <input type="hidden" name="trainingType" value="{{ @training['app_id'] }}">
                                            <button type="submit" class="btn btn-primary mt-3" name="{{ @training['ref_name'] }}Submit">View Application</button>
                                        </div>
                                    </true>
                                    <false>
                                        <h6 class="text-center text-primary">Coming soon!</h6>
                                    </false>

                                </check>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </repeat>
        <!-- show all training cards -->
    </div>
    <!-- /.row -->

    <h5 class="py-4 text-center text-primary">
        For more information, contact Deanna Roy at droy@namiwa.org or 206-783-4288.
    </h5>
</div>
<!-- /.container -->

<include href="views/forms/includes/footer.html"/>
