<include href="views/portal/includes/header.html"/>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-2 text-primary"><i class="fas fa-users"></i> Active Applications </h1>
    <p class="lead mb-4">This where you can discover the status of all active applications</p>

    <!-- Content Row -->
    <div class="row mb-4">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Submitted</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-alt-circle-up fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Approved</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">30</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Denied</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>


                            <!-- <div class="row no-gutters align-items-center">
                                 <div class="col-auto">
                                     <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                 </div>
                                 <div class="col">
                                     <div class="progress progress-sm mr-2">
                                         <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>-->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-times-circle fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Complete</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">30</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check-circle fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Showing All 110 Active Applications</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Status</th>
                        <th>Name</th>
                        <th>Affiliate</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Date Submitted</th>
                        <th>Move</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="bg-light">
                        <th>Status</th>
                        <th>Name</th>
                        <th>Affiliate</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Date Submitted</th>
                        <th>Move</th>
                        <th>View</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td class="text-center text-info"><i class="fas fa-arrow-alt-circle-up fa-lg"></i></td>
                        <td>Tiger Nixon</td>
                        <td>NAMI Chelan-Douglas</td>
                        <td>(253) 657-1929</td>
                        <td>nixon.tiger@gmail.com</td>
                        <td>02/23/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-suitcase-rolling mr-1 fa-lg"></i></a></td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg ml-1"></i></a></td>
                    </tr>
                    <tr>
                        <td class="text-center text-danger"><i class="fas fa-times-circle fa-lg"></i></td>
                        <td>Dwayne Johnson</td>
                        <td>NAMI Clallam County</td>
                        <td>(253) 123-4568</td>
                        <td>therock@gmail.com</td>
                        <td>09/28/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-suitcase-rolling mr-1 fa-lg"></i></a></td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg ml-1"></i></a></td>
                    </tr>
                    <tr>
                        <td class="text-center text-warning"><i class="fas fa-exclamation-circle fa-lg"></i></td>
                        <td>Tony Stark</td>
                        <td>NAMI Eastside</td>
                        <td>(253) 785-9658</td>
                        <td>edith@gmail.com</td>
                        <td>06/28/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-suitcase-rolling mr-1 fa-lg"></i></a></td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg ml-1"></i></a></td>
                    </tr>
                    <tr>
                        <td class="text-center text-success"><i class="fas fa-check-circle fa-lg"></i></td>
                        <td>Bruce Wayne</td>
                        <td>NAMI Jefferson County</td>
                        <td>(253) 569-8954</td>
                        <td>batman@gmail.com</td>
                        <td>04/13/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-suitcase-rolling mr-1 fa-lg"></i></a></td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg ml-1"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white mt-5">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; NAMI WA 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->




<include href="views/portal/includes/footer.html"/>
