<include href="views/portal/includes/header.html"/>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-2 text-primary">

        <!-- if active show status, if not show basic icon -->
        <check if="{{ @applicant['category'] == 1 }}">
            <true>
                <!-- denied -->
                <check if="{{ @applicant['app_status'] == 0 }}">
                    <i class="fas fa-times-circle fa-lg text-danger"></i>
                    <span class="sr-only">Denied</span>
                </check>

                <!-- submitted -->
                <check if="{{ @applicant['app_status'] == 1 }}">
                    <i class="fas fa-arrow-alt-circle-up fa-lg text-info"></i>
                    <span class="sr-only">Submitted</span>
                </check>

                <!-- approved -->
                <check if="{{ @applicant['app_status'] == 2 }}">
                    <i class="fas fa-exclamation-circle fa-lg text-warning"></i>
                    <span class="sr-only">Approved</span>
                </check>

                <!-- complete -->
                <check if="{{ @applicant['app_status'] == 3 }}">
                    <i class="fas fa-check-circle fa-lg text-success"></i>
                    <span class="sr-only">Complete</span>
                </check>
            </true>
            <false>
                <i class="fas fa-user fa-lg text-primary"></i>
            </false>
        </check>

        {{ @applicant['fname'] }} {{ @applicant['lname'] }}'s Application
    </h1>

    <h6 class="mb-4 mt-3">
        <a href="{{ @page }}" class="text-decoration-none mt-0 pt-0 text-primary">
            <i class="fas fa-arrow-left fa-sm"></i> Back
        </a>
    </h6>

    <!-- row -->
    <div class="row">
        <!-- personal information -->
        <div class="col-lg-6 d-flex">
            <div class="card shadow mb-4 flex-fill">
                <div class="card-header py-3 bg-primary">
                    <h5 class="m-0 text-white"><i class="fas fa-user-circle"></i> Personal Information</h5>
                </div>
                <div class="card-body">
                    <!-- name, pronouns -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Name:</span>
                            {{ @applicant['fname'] }} {{ @applicant['lname'] }}, {{ @applicant['pronouns'] }}
                        </h6>
                    </div>

                    <!-- dob -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Date of Birth:</span>
                            {{ @applicant['birthdate'] }}
                        </h6>
                    </div>

                    <!-- address -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Address:</span>
                            {{ @applicant['address'] }} {{ @applicant['address2'] }}
                            {{ @applicant['city'] }}, {{ @applicant['state'] }} {{ @applicant['zip'] }}
                        </h6>
                    </div>

                    <!-- nami stuff -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Affiliate:</span> {{ @applicant['Affiliate'] }}</h6>
                    </div>
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">NAMI Member:</span>
                            <check if="{{ @applicant['NAMI_member'] == 1 }}">
                                <true>Is a NAMI member</true>
                                <false>Is not a NAMI member</false>
                            </check>
                        </h6>
                    </div>

                    <!-- primary phone -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Primary Phone:</span>
                            {{ @applicant['primary_phone'] }}, {{ @applicant['primary_time'] }}</h6>
                    </div>

                    <!-- alternate phone -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Alternate Phone:</span>
                            {{ @applicant['alternate_phone'] }}, {{ @applicant['alternate_time'] }}
                        </h6>
                    </div>

                    <!-- email and best way to contact -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Email:</span>
                            <a  class="text-decoration-none text-body"
                                href="mailto: {{ @applicant['Email'] }}">
                                {{ @applicant['Email'] }}
                            </a>
                        </h6>
                    </div>
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Best Way to Contact:</span>
                            {{ @applicant['preference'] }}
                        </h6>
                    </div>

                    <!-- emergency contact -->
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold text-danger">Emergency Contact: </span>
                            {{ @applicant['emergency_name'] }}, {{ @applicant['emergency_phone'] }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- personal information -->

        <!-- accomodations -->
        <div class="col-lg-6 d-flex">
            <div class="card shadow mb-4 flex-fill">
                <div class="card-header py-3 bg-primary">
                    <h5 class="m-0 text-white"><i class="fas fa-universal-access"></i> Accommodations</h5>
                </div>
                <div class="card-body">

                    <div class="row m-1 mb-2">
                        <div class="col-md-10 pl-0">
                            <h6 class="pl-2 pb-2"><span class="font-weight-bold">Special Needs: </span>
                                {{ @applicant['special_needs'] }}
                            </h6>
                            <h6 class="pl-2 pb-2"><span class="font-weight-bold">Bringing a Service Animal: </span>
                                {{ @applicant['service_animal'] }}
                            </h6>
                            <h6 class="pl-2"><span class="font-weight-bold">Walker or Wheelchair used: </span>
                                {{ @applicant['mobility_need'] }}
                            </h6>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-10 pl-0">
                            <h6 class="pl-2 pb-2"><span class="font-weight-bold">Need rooming during training: </span>
                                <check if="{{ @applicant['need_rooming'] == 'Yes' }}">
                                    <true>Room is needed</true>
                                    <false>Room not needed</false>
                                </check>
                            </h6>

                            <check if="{{ @applicant['need_rooming'] == 'Yes' }}">
                                <h6 class="pl-2 pb-2"><span class="font-weight-bold">They want to pay for a Single room: </span>
                                    <check if="{{ @applicant['single_room'] == 'Yes' }}">
                                        <true>Single room wanted</true>
                                        <false>Single room not wanted</false>
                                    </check>
                                </h6>

                                <h6 class="pl-2"><span class="font-weight-bold">Need Housing for These Nights: </span>
                                    {{ @applicant['days_rooming'] }}
                                </h6>
                            </check>
                        </div>
                    </div>

                    <check if="{{ @applicant['single_room'] != 'Yes' && @applicant['need_rooming'] == 'Yes' }}">

                        <div class="row m-1 ">
                            <h6 class="pl-2"><span class="font-weight-bold text-primary">Rooming Information</span></h6>
                        </div>

                        <div class="row m-1">
                            <div class="col-md-10 pl-0">
                                <h6 class="pl-2">
                                    <span class="font-weight-bold">Gender: </span> {{ @applicant['gender'] }}
                                    <span class="font-weight-bold ml-3">Want to Room With: </span> {{ @applicant['roommate_gender'] }}
                                </h6>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-md-10 pl-0">
                                <h6 class="pl-2 mb-2">
                                    <span class="font-weight-bold">CPAP User: </span>
                                    <check if="{{ @applicant['cpap_user'] == 'Yes' }}">
                                        <true>Uses a CPAP</true>
                                        <false>Does not use a CPAP</false>
                                    </check>
                                </h6>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-md-10 pl-0">
                                <h6 class="pl-2">
                                    <span class="font-weight-bold">Room with a CPAP User: </span>
                                    <check if="{{ @applicant['roommate_cpap'] == 'Yes' }}">
                                        <true>Fine with roommate CPAP user</true>
                                        <false>Does not want to room with CPAP user</false>
                                    </check>
                                </h6>
                            </div>
                        </div>
                    </check>

                </div>
            </div>
        </div>
        <!-- accomodations -->
    </div>
    <!-- row -->

    <!-- row -->
    <div class="row">
        <!-- long answer -->
        <div class="col-lg-6 d-flex">
            <div class="card shadow mb-4 flex-fill">
                <div class="card-header py-3 bg-primary">
                    <h5 class="m-0 text-white"><i class="far fa-calendar-alt"></i> Training Info</h5>
                </div>
                <div class="card-body">
                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Day 1: </span>
                            {{ @applicant['Day1'] }}
                        </h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Day 2: </span>
                            {{ @applicant['Day2'] }}
                        </h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Location: </span>
                            {{ @applicant['Location'] }}
                        </h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Date Submitted: </span>
                            {{ date('m/d/Y', strtotime(@applicant['date_submitted'])) }}
                        </h6>
                    </div>

                </div>
            </div>
        </div>
        <!-- long answer -->

        <!-- not required -->
        <div class="col-lg-6 d-flex">
            <div class="card shadow mb-4 flex-fill">
                <div class="card-header py-3 bg-primary">
                    <h5 class="m-0 text-white"><i class="fas fa-question-circle"></i> Additional Questions</h5>
                </div>
                <div class="card-body">

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">How they heard about this Training Class: </span>
                            <br>{{ @applicant['heard_about_training'] }}
                        </h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">Have they taken other classes: </span>
                            <check if="{{ trim(@applicant['trained']) == '' }}">
                                <true><br>Have not taken any other classes</true>
                                <false><br>{{ @applicant['trained'] }}</false>
                            </check>
                        </h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold">What classes they can teach: </span>
                            <check if="{{ trim(@applicant['certified']) == '' }}">
                                <true>Not certified for any classes</true>
                                <false><br>{{ @applicant['certified'] }}</false>
                            </check>
                        </h6>
                    </div>

                </div>
            </div>
        </div>
        <!-- not required -->
    </div>
    <!-- row -->

    <!-- row -->
    <div class="row">
        <!-- long answer -->
        <div class="col-lg-12 d-flex">
            <div class="card shadow mb-4 flex-fill">
                <div class="card-header py-3 bg-primary">
                    <h5 class="m-0 text-white"><i class="fas fa-question-circle"></i> {{ @applicant['Training'] }} Questions</h5>
                </div>
                <div class="card-body">
                    <include href="{{ @reviewIncludes }}"/>
                </div>
            </div>
        </div>
        <!-- long answer -->
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<include href="views/portal/includes/footer.html"/>
