<include href="views/portal/includes/header.html"/>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-2 text-primary"><i class="fas fa-archive"></i> Archived Applications </h1>
    <p class="lead mb-5">These applications will stay here forever</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Showing All 110 Archived Applications</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Name</th>
                        <th>Affiliate</th>
                        <th>Training</th>
                        <th>Email</th>
                        <th>Date Submitted</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="bg-light">
                        <th>Name</th>
                        <th>Affiliate</th>
                        <th>Training</th>
                        <th>Email</th>
                        <th>Date Submitted</th>
                        <th>View</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>NAMI Chelan-Douglas</td>
                        <td>Family Support Group</td>
                        <td>nixon.tiger@gmail.com</td>
                        <td>02/23/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg"></i></a></td>
                    </tr>
                    <tr>
                        <td>Dwayne Johnson</td>
                        <td>NAMI Clallam County</td>
                        <td>Family Support Group</td>
                        <td>therock@gmail.com</td>
                        <td>09/28/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg"></i></a></td>
                    </tr>
                    <tr>
                        <td>Tony Stark</td>
                        <td>NAMI Eastside</td>
                        <td>Family Support Group</td>
                        <td>edith@gmail.com</td>
                        <td>06/28/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg"></i></a></td>
                    </tr>
                    <tr>
                        <td>Bruce Wayne</td>
                        <td>NAMI Jefferson County</td>
                        <td>Family Support Group</td>
                        <td>batman@gmail.com</td>
                        <td>04/13/2019</td>
                        <td class="text-center"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-external-link-square-alt fa-lg"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<include href="views/portal/includes/footer.html"/>
