<include href="views/forms/includes/header.html"/>
<!--<div class="container text-center w-25">
    <div class="card">
        <img src="images/dog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Your Application Has Been Submitted!</h5>
            <p class="card-text">Thank you "name" for filling out the application. Your local affiliate will be in touch with you shortly.</p>
            <a href="#" class="btn btn-primary">Back To NAMI</a>
        </div>
    </div>
</div>-->

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Done!</div>
    </div>
</div>

<div class="container py-5">



    <div class="card mx-auto bg-white shadow-sm" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="images/dog.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6 my-auto text-center">
                <div class="card-body">
                    <h5 class="card-title">Your Application Has Been Submitted!</h5>
                    <p class="card-text">Thank you, {{ $_SESSION['PersonalInfo']->getFname()}} {{ $_SESSION['PersonalInfo']->getLname()}},
                        for filling out the application. We have sent a confirmation email to: {{ $_SESSION['PersonalInfo']->getEmail()}}.
                        Your local affiliate will be in touch with you shortly.</p>
                    <a href="http://namiwa.org/" class="btn btn-primary align-text-bottom">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>

<include href="views/forms/includes/footer.html"/>
