<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <h5>Progress</h5>
    <div class="progress border" style="height: 20px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 20%"
             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
    </div>
</div>

<div class="container p-3 ">

    <form method="post">
        <!-- Displays any errors with the input from the user -->
        <check if="{{!empty(@errors)}}">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <repeat group=" {{ @errors }}" key="{{ @key }}" value="{{ @error}}">
                    <h4><strong>Error:</strong> {{ @error }}</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </repeat>
            </div>
        </check>

        <div class="card shadow-sm bg-white rounded">
            <div class="card-header">
                <h4 class="float-left pt-2"><i class="fas fa-universal-access mr-1 text-primary"></i> Accommodations</h4>
                <check if="{{ $_GET['fromReview'] == true }}">
                    <button type="submit" class="btn btn-primary float-right" name="goToReview" value="true">
                        <i class="fas fa-redo-alt"></i> Back to Review</button>
                </check>
            </div>

            <div class="card-body m-3">

                <h6 class="mb-5 text-primary font-weight-bold">
                    <i class="fas fa-star-of-life"></i> All fields are required
                </h6>

                <form method="post" action="additional_information" class="m-0">

                    <div class="mb-4">
                        <div class="form-row mb-1">
                            <div class="form-group col-md-12">
                                <h5 class="mb-3">Do you have any accessibility needs, dietary restrictions
                                    or other issues which need accommodation during training? </h5>

                                <label class="mr-3 ml-3"><input type="radio" name="specialNeeds" value="true"
                                                                id="specialNeedsYes" required
                                    <check if="{{ $_SESSION['AdditionalInfo']->getSpecialNeeds() == 'true' }}">checked</check>>
                                    Yes</label>
                                <label><input type="radio" name="specialNeeds" value="false" id="specialNeedsNo" required
                                    <check if="{{ $_SESSION['AdditionalInfo']->getSpecialNeeds() == 'false' }}">checked</check>>
                                    No</label>
                            </div>
                        </div>

                        <div class="form-row ml-2 mb-3" id="specialNeedsText" style="display: none">
                            <div class="col-md-7">
                                <label for="specialNeedsTextBox">If yes, please describe your special needs: </label>
                                <textarea name="specialNeedsText" class="form-control" id="specialNeedsTextBox" rows="5"
                                >{{ $_SESSION['AdditionalInfo']->getSpecialNeedsText() }}</textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h5 class="mb-3">Will you be bringing a service animal?</h5>
                                <div>
                                    <label class="mr-3 ml-3"><input type="radio" name="serviceAnimal" value="true"
                                                                    id="serviceAnimalYes" required
                                        <check if="{{ $_SESSION['AdditionalInfo']->getServiceAnimal() == 'true' }}">checked</check>>
                                        Yes</label>

                                    <label><input type="radio" name="serviceAnimal" value="false" id="serviceAnimalNo" required
                                        <check if="{{ $_SESSION['AdditionalInfo']->getServiceAnimal() == 'false' }}">checked</check>>
                                        No</label>
                                </div>

                                <div style="display: none" id="serviceAnimalText">
                                    <label for="serviceAnimalTextBox">If yes, please detail your service animal: </label>
                                    <textarea name="serviceAnimalText" class="form-control" id="serviceAnimalTextBox" rows="5"
                                    >{{ $_SESSION['AdditionalInfo']->getServiceAnimalText() }}</textarea>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div>
                                    <h5 class="mb-3">Do you use a walker or wheelchair?</h5>
                                    <label class="mr-3 ml-3"><input type="radio" name="movementDisability" value="true"
                                                                    id="movementDisabilityYes" required
                                        <check if="{{ $_SESSION['AdditionalInfo']->getMovementDisability() == 'true' }}">
                                            checked</check>> Yes</label>

                                    <label><input type="radio" name="movementDisability" value="false"
                                                  id="movementDisabilityNo" required
                                        <check if="{{ $_SESSION['AdditionalInfo']->getMovementDisability() == 'false' }}">
                                            checked</check>> No</label>
                                </div>

                                <div style="display: none" id="movementDisabilityText">
                                    <label for="movementDisabilityTextBox">If yes, please detail your mobility helper: </label>
                                    <textarea name="movementDisabilityText" class="form-control" id="movementDisabilityTextBox" rows="5"
                                    >{{ $_SESSION['AdditionalInfo']->getMovementDisabilityText() }}</textarea>
                                </div>
                            </div>
                        </div>

                        <hr class="py-3">

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h5 class="mb-4">Training begins Saturday morning. Those who are further than 1 hour
                                    away are provided lodging and will want to consider arriving Friday evening
                                    (don't forget I-5 traffic snarl!). Please complete the following information:</h5>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <h5 class="mb-3">I live further than 1 hour driving distance of the training site and <u>will need</u>
                                    accommodations</h5>
                                <label class="mr-3 ml-3"><input type="radio" name="needAccommodations" value="true" required id="show1"
                                    <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true'}}">
                                        checked</check>> Yes, I need rooming</label>
                                <label><input type="radio" name="needAccommodations" value="false" required id="hide1"
                                    <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'false'}}">
                                        checked</check>> No, I do not need rooming</label>
                            </div>
                        </div>

                        <div id="singleRoom" style="display: none">
                            <div class="form-row my-3" >
                                <div class="col-md-12">
                                    <h5 class="mb-4">I would like a single room and understand I, the attendee, will be responsible for the
                                        additional amount and I will be billed by NAMI Washington 3 weeks after the training is
                                        complete.</h5>
                                    <label class="mr-3 ml-3"><input type="radio" name="singleRoom" value="true" id="hide2"
                                        <check if="{{$_SESSION['AdditionalInfo']->getSingleRoom() === 'true'}}">
                                            checked</check> <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true'}}">
                                            required</check>> Yes, I want to pay for a single room</label>
                                    <label class="mr-3"><input type="radio" name="singleRoom" value="false" id="show2"
                                        <check if="{{$_SESSION['AdditionalInfo']->getSingleRoom() === 'false'}}">
                                            checked</check> <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true'}}">
                                            required</check>> No, I want to room with someone</label>
                                </div>
                            </div>

                            <div class="form-row my-3 mt-4">
                                <div class="form-group col-md-12">
                                    <h5 class="mb-3">I will need housing for the following nights:</h5>
                                    <label class="ml-3 mr-3"><input type="checkbox" name="daysRooming[]" value="friday"
                                        <check if="{{$_SESSION['AdditionalInfo']->containsDaysRooming('friday') }}">
                                            checked</check>> Friday</label>
                                    <label class="mr-3"><input type="checkbox" name="daysRooming[]" value="saturday"
                                        <check if="{{$_SESSION['AdditionalInfo']->containsDaysRooming('saturday') }}">
                                            checked</check>> Saturday</label>
                                </div>
                            </div>
                        </div>

                        <div id="daysRooming" style="display: none">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="mb-3">NAMI-WA will try to accommodate roommate requests: </h5>
                                </div>
                            </div>

                            <div class="form-row ml-2">
                                <!--
                                <div class="form-group col-md-12">
                                    <label><input type="checkbox" name="roommate" value="yes"> Please assign roommate:</label>
                                </div>
                                -->
                                <div class="form-group col-md-6">
                                    <label>What is your gender(identity or expression)?:
                                        <input type="text" name="gender" class="form-control" id="gender"
                                               value="{{$_SESSION['AdditionalInfo']->getGender()}}"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>I would like a room with(identity or expression)?:
                                        <input type="text" name="roommateGender" class="form-control" id="roommateGender"
                                               value="{{$_SESSION['AdditionalInfo']->getRoommateGender()}}"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <!--tooltip-->
                                    <label><input type="checkbox" name="cpap" value="true"
                                        <check if="{{$_SESSION['AdditionalInfo']->getCpap() === 'true'}}">
                                            checked</check>> I use a C-Pap
                                        <a href="#" data-toggle="tooltip" title=
                                                "C-PAP stands for continuous positive airway pressure. The machines help
                                            people with sleep apnea breathe more easily and regularly every night while
                                            they are sleeping. "><i class="fas fa-question-circle text-primary"></i></a></label>
                                </div>
                                <div class="form-group col-md-6">

                                    <!--tooltip-->
                                    <label><input type="checkbox" name="cpapRoommate" value="true"
                                        <check if="{{$_SESSION['AdditionalInfo']->getCpapRoommate() === 'true'}}">
                                            checked</check>> I don't mind rooming with a C-PAP machine
                                        <a href="#" data-toggle="tooltip" title=
                                                "C-PAP stands for continuous positive airway pressure. The machines help
                                            people with sleep apnea breathe more easily and regularly every night while
                                        they are sleeping. "><i class="fas fa-question-circle text-primary"></i></a> user:</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>
                </form>

                <form action="personal_information" method="get">
                    <button type="submit" name="goBack" value="goBack" class="btn btn-primary float-left">
                        <i class="fas fa-arrow-left"></i> Back</button>
                </form>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="views/forms/js/accommodationsScript.js"></script>

<include href="views/forms/includes/footer.html"/>