<include href="views/forms/includes/header.html"/>

<!-- Jumbotron Header -->
<header class="jumbotron mb-4 px-5 text-center">
    <h1 class="mb-3">NAMI WA State Trainings</h1>
    <h5 class="px-5 mx-5">
        NAMI Washington offers trainings in NAMI Signature programs which allow local
        affiliates to bring NAMI programs to their communities. All trainings are offered
        at no cost to participants. All NAMI members or those becoming a member may apply
        to attend State Training programs. For more information, contact Deanna Roy at
        droy@namiwa.org or 206-783-4288.
    </h5>
</header>

<!-- Page Content -->
<div class="container">

    <h2 class="text-center mb-5 pt-3">Trainings Offered</h2>

    <!-- Page Features -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-4 mt-2"><img src="images/training_logos/fsg.jpg" alt="" class="img-fluid text-center"> </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="mb-4">
                        <label for="fsgDate">Select a Date</label>
                        <select class="form-control" id="fsgDate">
                            <option>-- Select --</option>
                        </select>
                    </div>
                    <a href="fsg" class="btn btn-primary mx-auto">View Application</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-4 mt-2"><img src="images/training_logos/p2p.jpg" alt="" class="img-fluid text-center"> </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="mb-4">
                        <label for="p2pDate">Select a Date</label>
                        <select class="form-control" id="p2pDate">
                            <option>-- Select --</option>
                        </select>
                    </div>
                    <a href="#" class="btn btn-primary mx-auto">View Application</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-4"><img src="images/training_logos/ets.jpg" alt="" class="img-fluid text-center"> </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="mb-4">
                        <label for="etsDate">Select a Date</label>
                        <select class="form-control" id="etsDate">
                            <option>-- Select --</option>
                        </select>
                    </div>
                    <a href="#" class="btn btn-primary mx-auto">View Application</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<include href="views/forms/includes/footer.html"/>
