<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 60%"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
    </div>
</div>

<!-- container -->
<div class="container p-3 ">

    <!-- Displays any errors with the input from the user -->
    <check if="{{!empty(@errors)}}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <repeat group=" {{ @errors }}" key="{{ @key }}" value="{{ @error}}">
                <h4><strong>Error:</strong> {{ @error }}</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </repeat>
        </div>
    </check>

    <!-- card -->
    <div class="card shadow-sm bg-white rounded">
        <h4 class="card-header">Additional Questions</h4>

        <!-- card body -->
        <div class="card-body m-3">
            <!-- form -->
            <div>
                <form method="post" action="not_required">
                    <h6 class=" float-right">*These questions are not required</h6>


                    <!-- how did you hear about this training -->
                    <div class="mb-5">
                        <h4 class="lead mb-0"><label for="heardAboutTraining">1. How did you hear about this
                            training class?</label></h4>
                        <textarea name="heardAboutTraining" class="form-control" id="heardAboutTraining"
                                  rows="5">{{ $_SESSION['NotRequired']->getHeardAboutTraining() }}</textarea>
                    </div>

                    <!-- have you taken any other NAMI classes or trainings -->
                    <div class="my-5">
                        <p class="lead">2. Have you taken other NAMI classes or trainings? </p>
                        <div class="form-check form-check-inline">
                            <input name="trained" class="form-check-input" type="radio" id="show1" value="yes" required
                            <check if="{{ $_SESSION['NotRequired']->getTrained() === 'yes' }}">
                                checked</check>>
                            <label class="form-check-label" for="show1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="trained" class="form-check-input" type="radio" id="hide1" value="no" required
                            <check if="{{ $_SESSION['NotRequired']->getTrained() === 'no' }}">
                                checked</check>>
                            <label class="form-check-label" for="hide1">No</label>
                        </div><br>

                        <div class="form-row mt-3" id="textbox1" style="display: none">
                            <label for="textarea1">If yes, please list: </label>
                            <textarea name="trainedText" class="form-control" id="textarea1" rows="5"
                            >{{ $_SESSION['NotRequired']->getTrainedText() }}</textarea>
                        </div>
                    </div>

                    <!-- are your certified to teach any other nami signature programs -->
                    <div class="my-5">
                        <p class="lead">3. Are you currently certified to teach/lead any other NAMI signature programs? </p>
                        <div class="form-check form-check-inline">
                            <input name="certified" class="form-check-input" type="radio" id="show2" value="yes" required
                            <check if="{{ $_SESSION['NotRequired']->getCertified() === 'yes' }}">
                                checked</check>>
                            <label class="form-check-label" for="show2">Yes</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input name="certified" class="form-check-input" type="radio" id="hide2" value="no" required
                            <check if="{{ $_SESSION['NotRequired']->getCertified() === 'no' }}">
                                checked</check>>
                            <label class="form-check-label" for="hide2">No</label>
                        </div><br>

                        <div class="form-row mt-3" id="textbox2" style="display: none">
                            <label for="textarea2">If yes, please list all Signature Programs you are certified to lead: </label>
                            <textarea name="certifiedText" class="form-control" id="textarea2" rows="5"
                            >{{ $_SESSION['NotRequired']->getCertifiedText() }}</textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>

                </form>

                <form method="post" action="long_answer">
                    <button type="submit" class="btn btn-primary float-left"><i class="fas fa-arrow-left"></i> Back</button>
                </form>
            </div>
            <!-- form -->
        </div>
        <!-- card body -->
    </div>
    <!-- card -->
</div>
<!-- container -->
<include href="views/forms/includes/footer.html"/>

<script>
    $(document).ready(function()
    {
        //For revealing the textarea for the trained question
        let trained = $("#textbox1");
        $("#show1").click(function()
        {
            trained.show();
        });
        $("#hide1").click(function()
        {
            trained.hide();
        });
        if(document.getElementById('show1').checked)
        {
            trained.show();
        }
        if(document.getElementById('hide1').checked)
        {
            trained.hide();
        }

        //revealing the convict textarea
        let certified = $("#textbox2");
        $("#hide2").click(function()
        {
            certified.hide();
        });
        $("#show2").click(function()
        {
            certified.show();
        });
        if(document.getElementById('show2').checked)
        {
            certified.show();
        }
        if(document.getElementById('hide2').checked)
        {
            certified.hide();
        }

    });
</script>
