<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <h5>Progress</h5>
    <div class="progress border"  style="height: 20px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
    </div>
</div>

<div class="container p-3">
    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="pt-2"><i class="fas fa-globe-americas mr-1 text-primary"></i> Review your Information</h4>
        </div>
        <div class="card-body m-3">

            <!-- personal information -->
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="font-weight-bold d-inline">Personal Information</h5>
                        <form action="personal_information" method="get" class="d-inline">
                            <label hidden>Go back to personal info
                                <input hidden name="fromReview" value="true">
                            </label>
                            <button type="submit" class="btn btn-link"><i class="fas fa-edit fa-lg" style="margin-bottom: 10px;"></i></button>
                        </form>
                        <hr class="mt-0 bg-primary">
                    </div>
                </div>

                <!-- name, pronouns -->
                <div class="row m-1 mb-2">
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Name:</span> {{ $_SESSION['PersonalInfo']->getFname() }} {{ $_SESSION['PersonalInfo']->getLname() }}
                            <span class="font-weight-bold ml-5">Pronouns:</span> {{ $_SESSION['PersonalInfo']->getPronouns() }}</h6>
                    </div>
                </div>

                <!-- dob -->
                <div class="row m-1 mb-2">
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Date of Birth:</span> {{ $_SESSION['PersonalInfo']->getDobMonth() .'/'.  $_SESSION['PersonalInfo']->getDobDay() .'/'.
                            $_SESSION['PersonalInfo']->getDobYear()}}</h6>
                    </div>
                </div>

                <!-- address -->
                <div class="row m-1 mb-2">
                    <div class="col-md-12 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Address:</span>
                            {{ $_SESSION['PersonalInfo']->getAddress() }} {{ $_SESSION['PersonalInfo']->getAddress2() }}
                            {{ $_SESSION['PersonalInfo']->getCity() }}, {{ $_SESSION['PersonalInfo']->getState() }} {{ $_SESSION['PersonalInfo']->getZip() }}
                        </h6>
                    </div>
                </div>

                <!-- nami stuff -->
                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Affiliate:</span> {{ @affiliateName }}</h6>
                    </div>
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">NAMI Member:</span> {{ $_SESSION['PersonalInfo']->getMember() }}</h6>
                    </div>
                </div>

                <!-- primary phone -->
                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Primary Phone: </span> {{ $_SESSION['PersonalInfo']->getPrimaryPhone() }}</h6>
                    </div>
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Best Time to Call: </span> {{ $_SESSION['PersonalInfo']->getPrimaryTime() }}</h6>
                    </div>
                </div>

                <!-- alternate phone -->
                <check if="{{ @SESSION.alternatePhone == 1 }}">
                    <div class="row m-1 mb-2">
                        <div class="col-md-4 pl-0">
                            <h6 class="pl-2"><span class="font-weight-bold">Alternate Phone: </span> {{ $_SESSION['PersonalInfo']->getAlternatePhone() }}</h6>
                        </div>
                        <div class="col-md-6 pl-0">
                            <h6 class="pl-2"><span class="font-weight-bold">Best Time to Call: </span> {{ $_SESSION['PersonalInfo']->getAlternateTime() }}</h6>
                        </div>
                    </div>
                </check>

                <!-- email and best way to contact -->
                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Email: </span> {{ $_SESSION['PersonalInfo']->getEmail() }}</h6>
                    </div>
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Best Way to Contact: </span> {{ $_SESSION['PersonalInfo']->getPreference() }}</h6>
                    </div>
                </div>

                <!-- emergency contact -->
                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Emergency Contact Name: </span> {{ $_SESSION['PersonalInfo']->getEmergencyName() }}</h6>
                    </div>
                    <div class="col-md-6 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Phone: </span> {{ $_SESSION['PersonalInfo']->getEmergencyPhone() }}</h6>
                    </div>
                </div>
            </div>
            <!-- end personal information -->

            <!-- accomodations -->
            <div>
                <div class="row mt-5">
                    <div class="col-md-8">
                        <h5 class="font-weight-bold d-inline">Accommodations</h5>
                        <form action="additional_information" method="get" class="d-inline">
                            <label hidden>Go back to accommodations
                                <input hidden name="fromReview" value="true">
                            </label>
                            <button type="submit" class="btn btn-link"><i class="fas fa-edit fa-lg" style="margin-bottom: 10px;"></i></button>
                        </form>
                        <hr class="mt-0 bg-primary">
                    </div>
                </div>

                <div class="row m-1 mb-2">
                    <div class="col-md-10 pl-0">
                        <h6 class="pl-2 pb-2"><span class="font-weight-bold">Special Needs: </span>
                            <check if="{{ $_SESSION['AdditionalInfo']->getSpecialNeeds() == 'true' }}">
                                <true>{{ $_SESSION['AdditionalInfo']->getSpecialNeedsText() }}</true><false>no</false>
                            </check>
                        </h6>
                        <h6 class="pl-2 pb-2"><span class="font-weight-bold">Bringing a Service Animal: </span>
                            <check if="{{ $_SESSION['AdditionalInfo']->getServiceAnimal() == 'true' }}">
                                <true>{{ $_SESSION['AdditionalInfo']->getServiceAnimalText() }}</true><false>no</false>
                            </check>
                        </h6>
                        <h6 class="pl-2"><span class="font-weight-bold">Walker or Wheelchair used: </span>
                            <check if="{{ $_SESSION['AdditionalInfo']->getMovementDisability() == 'true' }}">
                                <true>{{ $_SESSION['AdditionalInfo']->getMovementDisabilityText() }}</true><false>no</false>
                            </check>
                        </h6>
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-md-10 pl-0">
                        <h6 class="pl-2 pb-2"><span class="font-weight-bold">Need rooming during training: </span>
                            <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true' }}">
                                Yes, a room is needed
                            </check>
                            <check if="{{$_SESSION['AdditionalInfo']->getNeedAccommodations() == 'false' }}">
                                No, a room is not needed
                            </check>
                        </h6>

                        <check if="{{ $_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true' }}">
                            <h6 class="pl-2 pb-2"><span class="font-weight-bold">I want to pay for a Single room: </span>
                                <check if="{{ $_SESSION['AdditionalInfo']->getSingleRoom() == 'true' }}">
                                    <true>
                                        yes
                                    </true>
                                    <false>
                                        no
                                    </false>
                                </check>

                            </h6>
                        </check>

                        <h6 class="pl-2"><span class="font-weight-bold">Need Housing for These Nights: </span>
                            <repeat group="{{ $_SESSION['AdditionalInfo']->getDaysRooming() }}" value="{{@day}}">
                                {{ @day .' '}}
                            </repeat>
                        </h6>

                    </div>
                </div>

                <check if="{{ $_SESSION['AdditionalInfo']->getNeedAccommodations() == 'true'
                && $_SESSION['AdditionalInfo']->getSingleRoom() == 'false'}}">

                    <div class="row m-1 mb-2">
                        <h6 class="pl-2"><span class="font-weight-bold text-primary">Rooming Information</span></h6>
                    </div>

                    <div class="row m-1 mb-2">
                        <div class="col-md-10 pl-0">
                            <h6 class="pl-2">
                                <span class="font-weight-bold">Your Gender: </span> {{ $_SESSION['AdditionalInfo']->getGender() }}
                                <span class="font-weight-bold ml-3">Want to Room With: </span> {{ $_SESSION['AdditionalInfo']->getRoommateGender() }}
                            </h6>
                        </div>
                    </div>

                    <div class="row m-1 mb-2">
                        <div class="col-md-10 pl-0">
                            <h6 class="pl-2">
                                <span class="font-weight-bold">Use a CPAP: </span>
                                <check if="{{ $_SESSION['AdditionalInfo']->getCpap() == 'true' }}">
                                    <true>Use a CPAP</true>
                                    <false>Do not use a CPAP</false>
                                </check>
                                <span class="font-weight-bold ml-4">Room with a CPAP User: </span>
                                <check if="{{ $_SESSION['AdditionalInfo']->getCpapRoommate() == 'true' }}">
                                    <true>Fine with roommate with CPAP</true>
                                    <false>Do not want to roommate with CPAP user</false>
                                </check>
                            </h6>
                        </div>
                    </div>
                </check>
            </div>
            <!-- end accommodations -->

            <!-- long answer -->
            <include href="{{ @reviewIncludes }}"></include>
            <!-- end long answer -->

            <div class="pb-4">
                <div class="row mt-5">
                    <div class="col-md-8">
                        <h5 class="font-weight-bold d-inline">Additional Questions</h5>
                        <form action="not_required" method="get" class="d-inline">
                            <label hidden>Go back to additional questions
                                <input hidden name="fromReview" value="true">
                            </label>
                            <button type="submit" class="btn btn-link"><i class="fas fa-edit fa-lg" style="margin-bottom: 10px;"></i></button>
                        </form>
                        <hr class="mt-0 bg-primary">
                    </div>
                </div>

                <div class="row m-1 mb-2">
                    <div class="col-md-10 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">How did you hear about this Training Class: </span>
                            {{ $_SESSION['NotRequired']->getHeardAboutTraining() }}
                        </h6>
                    </div>
                </div>

                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Have you Taken Other Classes:</span>
                            {{ $_SESSION['NotRequired']->getTrained() }}
                            <check if="{{ $_SESSION['NotRequired']->getTrained() == 'yes' }}">
                                 <br>{{ $_SESSION['NotRequired']->getTrainedText() }}
                            </check>
                        </h6>
                    </div>
                </div>

                <div class="row m-1 mb-2">
                    <div class="col-md-4 pl-0">
                        <h6 class="pl-2"><span class="font-weight-bold">Can you Teach any Classes: </span>
                            {{ $_SESSION['NotRequired']->getCertified() }}
                            <check if="{{ $_SESSION['NotRequired']->getTrained() == 'yes' }}">
                                <br>{{ $_SESSION['NotRequired']->getCertifiedText() }}
                            </check>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- end not required -->

            <form method="get" action="not_required" class="mt-5">
                <button type="submit" class="btn btn-primary float-left"><i class="fas fa-arrow-left"></i> Back</button>
            </form>
            <form method="get" action="performance_agreement">
                <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>
<!-- end container -->

<include href="views/forms/includes/footer.html"/>
