<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Review Your Information</div>
    </div>
</div>

<div class="container p-3">
    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Personal Information</h4>
            <form action="personal_information">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">First Name: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getFname() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Last Name: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getLname() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead">Pronouns: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPronouns() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Address 1: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAddress() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Address 2: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAddress2() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead">Date of Birth: </h6>
                    <p>{{ $_SESSION['PersonalInfo']->getDobDay() .'/'.  $_SESSION['PersonalInfo']->getDobMonth() .'/'.
                        $_SESSION['PersonalInfo']->getDobYear()}}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">City: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getCity() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">State: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getState() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead">Zip: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getZip() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Primary Phone Number: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPrimaryPhone() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Best time to call: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPrimaryTime() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Alternate Phone Number: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAlternatePhone() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Best time to call: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAlternateTime() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Email: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmail() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Email or Phone: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPreference() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Affiliate: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAffiliate() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">NAMI member: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getMember() }}</p>
                </div>
            </div>

            <hr>

            <div class="row mt-3 mx-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Emergency Contact Name: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmergencyName() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead">Emergency Contact Phone Number: </h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmergencyPhone() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">More Information</h4>
            <form action="additional_information">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-4 pl-0">
                    <h6 class="lead">Special Needs: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getSpecialNeeds() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead">Bringing a Service Animal: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getServiceAnimal() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead">Walker or Wheelchair used: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getMovementDisability() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-6 pl-0">
                    <h6 class="lead">Live within 1 hour of training: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getNeedAccommodations() }}</p>
                </div>
                <div class="col-md-6 pl-0">
                    <h6 class="lead">Did you want to pay extra for a single room: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getSingleRoom() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <h6 class="lead">Rooming Information: </h6>
            </div>
            <div class="row m-3">
                <div class="col-md-4 pl-0">
                    <h6 class="lead">Your Gender: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getGender() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead">Want to Room With: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getRoommateGender() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead">Use a CPAP: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getCpap() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead">Room with a CPAP User: </h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getCpapRoommate() }}</p>
                </div>
            </div>

            <div class="row mt-3 mx-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead">Need Housing for these nights: </h6>
                    <p class="pl-2">
                        <repeat group="{{ $_SESSION['AdditionalInfo']->getDaysRooming() }}" value="{{@day}}">
                            {{ @day .' '}}
                        </repeat>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Long Answer Questions</h4>
            <form action="long_answer">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead">Relative with Mental Illness: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getRelativeMentalIllness() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead">Relative with Mental Illness Response: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getRelativeMentalIllnessText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead">Convicted of a Crime: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getConvict() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead">Convicted of a Crime Response: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getConvictText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead">Why you want to be a NAMI Family Support Group Facilitator: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getWhyFacilitator() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead">Experience in Support Group Participation: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getExperience() }}</p>
                </div>
            </div>

            <hr>

            <div class="row mx-3 mt-3">
                <div class="col-md-6 pl-0">
                    <h6 class="lead">Who you want to Co-facilitate with: </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getCoFacWhomText() }}</p>
                </div>
                <div class="col-md-6 pl-0">
                    <h6 class="lead">Where you want to Co-facilitate : </h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getCoFacWhereText() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Not Required Questions</h4>
            <form action="not_required">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead">How did you hear about this training class: </h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getHeardAboutTraining() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead">Have you Taken Other Classes: </h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getTrained() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead">Which Classes you Took: </h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getTrainedText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead">Can you Teach any Classes: </h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getCertified() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead">Which Classes you can Teach: </h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getCertifiedText() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card py-2 shadow-sm bg-white rounded">
        <div class="card-body">
            <form method="get" action="not_required">
                <button type="submit" class="btn btn-primary float-left"><i class="fas fa-arrow-left"></i> Back</button>
            </form>
            <form method="get" action="performance_agreement">
                <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>


</div>

<include href="views/forms/includes/footer.html"/>
