<include href="views/forms/includes/header.html"/>

<div class="container p-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Review Your Information</div>
    </div>
</div>

<div class="container p-3">
    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Personal Information</h4>
            <form action="personal_information">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>First Name: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getFname() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Last Name: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getLname() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead"><strong>Pronouns: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPronouns() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Address 1: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAddress() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Address 2: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAddress2() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead"><strong>Date of Birth: </strong></h6>
                    <p>{{ $_SESSION['PersonalInfo']->getDobDay() .'/'.  $_SESSION['PersonalInfo']->getDobMonth() .'/'.
                        $_SESSION['PersonalInfo']->getDobYear()}}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>City: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getCity() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>State: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getState() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead"><strong>Zip: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getZip() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Primary Phone Number: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPrimaryPhone() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Best time to call: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPrimaryTime() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Alternate Phone Number: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAlternatePhone() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Best time to call: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAlternateTime() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Email: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmail() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Email or Phone: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getPreference() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Affiliate: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getAffiliate() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>NAMI member: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getMember() }}</p>
                </div>
            </div>

            <hr>

            <div class="row mt-3 mx-3">
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Emergency Contact Name: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmergencyName() }}</p>
                </div>
                <div class="col-md-5 pl-0">
                    <h6 class="lead"><strong>Emergency Contact Phone Number: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['PersonalInfo']->getEmergencyPhone() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">More Information</h4>
            <form action="additional_information">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-4 pl-0">
                    <h6 class="lead"><strong>Special Needs: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getSpecialNeeds() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead"><strong>Bringing a Service Animal: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getServiceAnimal() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead"><strong>Walker or Wheelchair used: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getMovementDisability() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-6 pl-0">
                    <h6 class="lead"><strong>Live within 1 hour of training: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getNoAccommodations() }}</p>
                </div>
                <div class="col-md-6 pl-0">
                    <h6 class="lead"><strong>Did you want to pay extra for a single room: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getSingleRoom() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <h6 class="lead"><strong>Rooming Information: </strong></h6>
            </div>
            <div class="row m-3">
                <div class="col-md-4 pl-0">
                    <h6 class="lead"><strong>Your Gender: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getGender() }}</p>
                </div>
                <div class="col-md-4 pl-0">
                    <h6 class="lead"><strong>Want to Room With: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getRoommateGender() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead"><strong>Use a CPAP: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getCpap() }}</p>
                </div>
                <div class="col-md-2 pl-0">
                    <h6 class="lead"><strong>Room with a CPAP User: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['AdditionalInfo']->getCpapRoommate() }}</p>
                </div>
            </div>

            <div class="row mt-3 mx-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead"><strong>Need Housing for these nights: </strong></h6>
                    <p class="pl-2">
                        <repeat group="{{ $_SESSION['AdditionalInfo']->getDaysRooming() }}" value="{{@day}}">
                            {{ @day .' '}}
                        </repeat>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Long Answer Questions</h4>
            <form action="long_answer">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead"><strong>Relative with Mental Illness: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getRelativeMentalIllness() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead"><strong>Relative with Mental Illness Response: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getRelativeMentalIllnessText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead"><strong>Convicted of a Crime: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getConvict() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead"><strong>Convicted of a Crime Response: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getConvictText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead"><strong>Why you want to be a NAMI Family Support Group Facilitator: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getWhyFacilitator() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead"><strong>Experience in Support Group Participation: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getExperience() }}</p>
                </div>
            </div>

            <hr>

            <div class="row mx-3 mt-3">
                <div class="col-md-6 pl-0">
                    <h6 class="lead"><strong>Who you want to Co-facilitate with: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getCoFacWhomText() }}</p>
                </div>
                <div class="col-md-6 pl-0">
                    <h6 class="lead"><strong>Where you want to Co-facilitate : </strong></h6>
                    <p class="pl-2">{{ $_SESSION['LongAnswer']->getCoFacWhereText() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm bg-white rounded">
        <div class="card-header">
            <h4 class="float-left">Not Required Questions</h4>
            <form action="not_required">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <div class="card-body m-3">
            <div class="row m-3">
                <div class="col-md-12 pl-0">
                    <h6 class="lead"><strong>How did you hear about this training class: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getHeardAboutTraining() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead"><strong>Have you Taken Other Classes: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getTrained() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead"><strong>Which Classes you Took: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getTrainedText() }}</p>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-3 pl-0">
                    <h6 class="lead"><strong>Can you Teach any Classes: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getCertified() }}</p>
                </div>
                <div class="col-md-9 pl-0">
                    <h6 class="lead"><strong>Which Classes you can Teach: </strong></h6>
                    <p class="pl-2">{{ $_SESSION['NotRequired']->getCertifiedText() }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card py-2 shadow-sm bg-white rounded">
        <div class="card-body">
            <form method="get" action="not_required">
                <button type="submit" class="btn btn-primary float-left"><i class="fas fa-arrow-left"></i> Back</button>
            </form>
            <form method="get" action="performance_agreement">
                <button type="submit" class="btn btn-primary float-right">Next <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>


</div>

<include href="views/forms/includes/footer.html"/>
